/*Reset*/
* {
    margin: 0;
    padding: 0;
}

/* Layout */
.container{
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

body{
    background: #f4f6f8;
    color: #333
}

.navbar{
    background: #111827;
    padding: 1rem 0;
}

.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 1rem;
}

.hero{
    height: 80vh;
    display: flex;
    align-items: center;
    text-align: center;
}

.btn-primary{
    background: #2563eb;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 5px;
    padding: 0.7rem 1.2rem;
    display: inline-block;
    margin-top: 1rem;
    color: white;
}

.error-message {
    color: red;
    font-size: 0.8rem;
    margin-top: 4px;
    display: block;
}

input.error {
    border: 1px solid red;
}

.flash-message {
    background: #16a34a;
    color: white;
    padding: 1rem;
    text-align: center;
}

